---
// Define las imágenes manualmente si son pocas, o automatiza la ruta si prefieres
const images = [
  './img/1.png',
  './img/2.png',
  './img/3.png',
  './img/4.png',
  './img/5.png',
  './img/6.png',
  './img/7.png',
  './img/8.png',
  './img/9.png',
  './img/isotipo-01.png',
  './img/auditoria.png',
  './img/body.png',
  './img/body2.png',
  './img/consultoria.png',
  './img/cursos.png',
  './img/facebook.png',
  './img/insta.png',
  './img/youtube.png',
  './img/mesa1.png',
  './img/logo.png',
  './img/mailing2/1.png',
  './img/mailing2/2.png',
  './img/mailing2/3.png',
  './img/mailing2/4.png',
  './img/mailing2/5.png',
  './img/mailing2/6.png',
  './img/mailing2/7.png',
  './img/mailing2/8.png',
  './img/mailing2/9.png',
  './img/mailing2/10.png',
  './img/mailing2/11.png',
  './img/mailing2/12.png',
  './img/mailing2/13.png',
  './img/footer.jpg',
  './img/Header.jpg',
  // Añade aquí los nombres de los archivos que subiste
];
---

<html>
  <body style="background-color: black;">
    <h1>Galería de Imágenes</h1>
    <div style="display: flex; flex-wrap: wrap;">
      {images.map(image => (
        <img src={image} alt="Imagen" style="width: 200px; margin: 10px;" />
      ))}
    </div>
  </body>
</html>
