---
// Define las imágenes manualmente si son pocas, o automatiza la ruta si prefieres
const images = [
  './img/1.png',
  './img/2.png',
  './img/3.png',
  './img/4.png',
  './img/5.png',
  './img/6.png',
  './img/7.png',
  './img/8.png',

  
  // Añade aquí los nombres de los archivos que subiste
];
---

<html>
  <body>
    <h1>Galería de Imágenes</h1>
    <div style="display: flex; flex-wrap: wrap;">
      {images.map(image => (
        <img src={image} alt="Imagen" style="width: 200px; margin: 10px;" />
      ))}
    </div>
  </body>
</html>
